<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="button-container">
      <a routerLink="add"><button type="button" class="btn btn-outline-info">add Employees</button></a>
      <a routerLink="get"><button type="button" class="btn btn-outline-info">Show Employees</button></a>
      <a routerLink="about"><button type="button" class="btn btn-outline-info">Info</button></a>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>